
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background-color:white;
            color: #333;
            margin: 0;
            padding: 0;
            background-image: url('cartbg.jpg');
            background-size: cover; /* Cover the entire viewport */
            background-position: center; /* Center the image */
            background-attachment: fixed; /* Fixed position, even when scrolling */
            font-family: Arial, sans-serif;
            background-repeat: no-repeat;
            
        }

        .container {
            max-width: 90%;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #AC485A;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-bottom: 20px;
        }

        input[type="text"] {
            width: calc(100% - 40px);
            padding: 15px;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            box-sizing: border-box;
            font-size: 16px;
            outline: none;
        }

        button {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 10px;
            background-color: #AC485A;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            outline: none;
        }

        button:hover {
            background-color: #93203e;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 20px;
        }

        li {
            background-color: #00da2f;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
            cursor: pointer;
            border: 2px solid #ddd;
            color:black; /* Added color for cart items */
        }

        li:hover {
            background-color: #eee;
        }

        .delete-btn {
            background-color: #d9534f;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .delete-btn:hover {
            background-color: #c9302c;
        }

        @media (min-width: 768px) {
            .container {
                max-width: 400px;
            }

            input[type="text"] {
                width: calc(100% - 30px);
            }
        }
    